@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    margin: 0px;
    text-align: center;
}
header {
    background-color: cadetblue;
    padding: 10px;
    margin: 0px;
    text-align: center;
}
main {
    background-color: white;
    padding: 30px;
    margin: 20px;
    text-align: justify;
    border-radius: 30px;
    box-shadow: 1px 2px 4px #00000075;
}
footer {
    background-color: cadetblue;
    padding: 10px;
    text-align: center;
    margin: 0px;
}
nav {
    background-color: white;
    padding: 20px;
    text-align: center;
    margin-left: 10px;
    box-shadow: 1px 2px 4px #00000075;
    border-radius: 30px;
}
nav > a:hover {
    background-color: cadetblue;
}
a {
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
}